.Side_bar
  .Side_bar__user-name
    .Side_bar__user-name__top-box
      %p.Side_bar__user-name__top-box--name  masa
      %ul.Side_bar__user-name__top-box--icons 
        = link_to "#", class: "Side_bar__user-name__top-box--icons" do
          = icon('far', 'edit' )
        = link_to "#", class: "Side_bar__user-name__top-box--icons" do
          = icon('fas', 'cog')  
  
  
  .Side_bar__group-list
    .Side_bar__group-list__under-box
      %h1.Side_bar__group-list__under-box--name techcamp 
      %p.Side_bar__group-list__under-box--message まだメッセージがありません

    .Side_bar__group-list__under-box
      %h1.Side_bar__group-list__under-box--name teamC
      %p.Side_bar__group-list__under-box--message まだメッセージがありません  